[submodule "yasnippet-0.6.1c/snippets/text-mode/latex-mode"]
	path = yasnippet-0.6.1c/snippets/text-mode/latex-mode
	url = git://github.com/madsdk/yasnippets-latex.git
[submodule "emacs-flymake-cursor"]
	path = emacs-flymake-cursor
	url = git://github.com/illusori/emacs-flymake-cursor.git
[submodule "emacs-flymake"]
	path = emacs-flymake
	url = git://github.com/illusori/emacs-flymake.git
[submodule "ecb"]
	path = ecb
	url = https://github.com/alexott/ecb.git
[submodule "emacs-eclim"]
	path = emacs-eclim
	url = git://github.com/senny/emacs-eclim.git
[submodule "emacs-epc"]
	path = emacs-epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule "emacs-deferred"]
	path = emacs-deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "emacs-ctable"]
	path = emacs-ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule "emacs-jedi"]
	path = emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "snippets/text-mode/java-mode"]
	path = snippets/text-mode/java-mode
	url = git://github.com/nekop/yasnippet-java-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/auto-complete/auto-complete.git
